@use "variables" as *;
@use "core/functions" as *;
@use "core/mixins" as *;

.fixit-docs-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 100%;
  position: relative;
  border-radius: 2.5px;
  margin-block: 2rem;
  background:
    linear-gradient(fi-var(global-background-color), fi-var(global-background-color)) padding-box,
    linear-gradient(45deg, #42d392, #FF7359) border-box;
  border: 0.25rem solid light-dark(transparent, #fff);
  transition: background-color 0.5s, border-color 0.5s;

  @include dark-mode {
    background: fi-var(global-background-color);
  }

  .fixit-docs-outline {
    align-self: center;
    text-align: left;
    list-style: none !important;
    margin-inline: auto;
    flex-shrink: 1;
    @include set-fi-vars((
      timeline-circle-color: #FF735A,
      timeline-circle-size: 10px,
      timeline-width: 2px,
    ));

    li {
      position: relative;
      padding: 0.5rem 1.5rem;
      font-size: 18px;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          @include set-fi-vars((
            timeline-index: #{$i},
          ));

          &::before {
            content: '#{$i}';
          }
        }
      }
      
      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        text-align: center;
        border-radius: 50%;
        color: transparent;
        z-index: 1;
        width: fi-var(timeline-circle-size);
        height: fi-var(timeline-circle-size);
        font-size: fi-var(timeline-circle-size);
        line-height: fi-var(timeline-circle-size);
        border-width: fi-var(timeline-width);
        border: fi-var(timeline-width) solid fi-var(global-border-color);
        background-color: fi-var(global-background-color);
        animation-name: border-color-fade;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: calc(#{fi-var(timeline-index)} * 0.3s);

        @keyframes border-color-fade {
          50% {
            border-color: fi-var(timeline-circle-color);
            // 显示序号
            color: fi-var(timeline-circle-color);
          }
        }
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: calc(#{fi-var(timeline-circle-size)} / 2 + #{fi-var(timeline-width)} / 2);
        width: fi-var(timeline-width);
        height: 100%;
        background-color: fi-var(global-border-color);
      }

      a,
      a::before,
      a::after {
        color: fi-var(global-link-color);
      }

      a:active,
      a:hover {
        color: fi-var(global-link-hover-color);
      }
    }
  }
  
  .fixit-docs-preview {
    width: 60%;
    height: auto;
    aspect-ratio: 572/300;
    padding-block: 0.5rem;
    margin-left: auto;
    position: relative;

    // 利用伪元素加载顺序巧妙实现 loading 效果
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::before {
      background-color: light-dark(rgba(204, 204, 204, 0.1), rgba(0, 0, 0, 0.1));
      background-image: var(#{$rootPrefix}loading-img);
      background-size: 60px;
    }

    &::after {
      background-image: url(https://fixit.lruihao.cn/images/apple-devices-preview.webp);
      background-size: 130%;
    }
  }
}

// ==============================
// Mobile style
// ==============================
@media only screen and (max-width: 680px) {
  .fixit-docs-navigation {
    flex-wrap: wrap;
    .fixit-docs-outline {
      flex-shrink: 0;
      li {
        padding-block: 0.25rem;
      }
    }

    .fixit-docs-preview {
      width: 100%;
    }
  }
}
